.base-nav-item {
    align-items: center;
    border-radius: 9999px;
    display: inline-flex;
    gap: 4px;
    justify-content: center;
    position: relative;
  }
  
  .base-nav-item .label {
    color: var(--gray-100);
    font-family: var(--heading-6-font-family);
    font-size: var(--heading-6-font-size);
    font-style: var(--heading-6-font-style);
    font-weight: var(--heading-6-font-weight);
    letter-spacing: var(--heading-6-letter-spacing);
    line-height: var(--heading-6-line-height);
    margin-top: -1px;
    position: relative;
    white-space: nowrap;
    width: 'fit-content';
  }
  
  .base-nav-item .icon-instance-node {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
  }
  
  .base-nav-item.active {
    background-color: var(--gray-10);
    padding: 10px 14px 10px 10px;
  }
  
  .base-nav-item.default {
    padding: 10px;
  }
  
  .base-nav-item.hover {
    background-color: var(--gray-10);
    padding: 10px;
  }
  .box {
    height: 54px;
    width: 335px;
}

.box .rectangle {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #67729429;
    border-radius: 12px;
    height: 54px;
    left: 0;
    position: fixed;
    top: 0;
    width: 335px;
}
